* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

body {
  font-family: 'Epilogue', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  
  font-size: .8rem;

  color: var(--medium-gray);

  
  padding: 1rem 3rem;
}

header div {
  display: flex;
  align-items: center;
  gap: 50px;
}

header div .logo {
  margin-right: 2rem;
}

header div .navigation {
  margin-bottom: .5rem;
}

header div .navigation a {
  text-decoration: none;
  color: inherit;
  margin-right: 2rem;
}

header .account a {
  text-decoration: none;
  color: inherit;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

header .account .register {
  border: 1px solid var(--almost-black);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  margin-bottom: .3rem;
  cursor: pointer;

  transition: background .5s;
}

header .account .register:hover {
  background: var(--almost-white);
}